<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>新建/编辑/查看进仓单</title>
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
  <script>
    window.coolLocals = {}
  </script>
  <!-- <script src="../../scripts/cool-master/cool-master.js"></script> -->
  <!-- <script src="../../scripts/new-cool-master/cool-master.js"></script> -->
  <script src="/settings.js"></script>
  </script>
</head>

<body>
  <div id="root" v-cloak>
    <cool-edit-view ref="editView" :show-header="currentId == undefined" :hdr-title="hdrTitle" :hdr-label-width="hdrLabelWidth" :dtl-title="dtlTitle" @input-button-event="inputBtnEvent" @update-hdr-form="updateHdrForm" @row-click="rowClick"
      @save-btn="maintainClick" @return-btn="cancelClick"></cool-edit-view>
    <!-- :dtl-label-width="dtlLabelWidth" @update-dtl-form="updateDtlForm" @confirm-btn="confirmBtn" -->
    <!-- <cool-new-edit-views ref="content" :hdr-header-text="hdrTitle" :form-items="hdrFormItems" @update-form="updateHdrForm" :dlt-header-text="dltTitle" :new-edit-table-data="newEditTableData" @cancel-click="cancelClick" @maintain-click="maintainClick"
      :maintain-btn="maintainBtn" :label-width="labelWidth" @input-button-event="inputBtnEvent" @new-edit-row-click="rowClick" :show-footer="currentId == undefined">
      <template slot="dltHeaderAdd">
        <cool-form-views :form-items="dltFormItems" @update-form="updateDltForm" inline label-width="100px" @keyup-enter="confirmBtn" style="padding:0">
          <el-form-item slot="addFormItem">
            <el-button size="mini" type="success" @click="confirmBtn" :disabled="dltFormItems.form.find(p=>p.label=='编号').value.length==0||dltFormItems.form.find(p=>p.label=='仓位').value.length==0||currentId !== undefined">确认</el-button>
          </el-form-item>
        </cool-form-views>
      </template>
    </cool-new-edit-views> -->

    <!-- @new-edit-table-buttons-event="buttonsevent"  @new-edit-select-change="selection"-->

    <!-- <iframe-maintenance v-loading="waiting" ref="content" :hdr-title="hdrTitle" :form-items="hdrFormItems" @update-form="updateHdrForm" :dlt-title="dltTitle" :buttons="buttons" @button-click="buttonsevent" :data="rawData" :columns="productColumns"
      @table-selection-change="selection" @cancel-click="cancelClick" @maintain-click="maintainClick"></iframe-maintenance> -->
    <!-- <cool-edit-dialog :edit-dialog-title="editDialogTitle" :form-items="formItems" :visible.sync="showEdit" :label-width="formLabelWidth" :width="width" @save-event="editNum" @update-form='updateForm'></cool-edit-dialog> -->

    <!--  <el-dialog title="编辑明细" :visible.sync="showEdit" width="650px" center :close-on-click-modal="false" @close="dialogclose">
      <el-container>
        <el-header height="auto">
          <el-form :inline="true" size="mini">
            <el-form-item style="margin:5px 0px 5px 5px;width: 33.3%;text-align:center" label="名称:">
              {{editName}}
            </el-form-item>
            <el-form-item style="margin:5px 0px 5px 5px;width: 33.3%;text-align:center" label="编码:">
              {{editNo}}
            </el-form-item>
          </el-form>
        </el-header>
        <el-main>
          <cool-form style="padding-top:10px;padding-left:5px" :form-items="formItems" size="mini" :inline="true" label-width="auto" @update-form='updateForm'></cool-form>
        </el-main>
      </el-container>
      <el-button size="mini" type="danger" @click="showEdit=false">取消</el-button>
      <el-button size="mini" type="success" style="float:right" @click="editNum">确定</el-button>
    </el-dialog> -->
  </div>

</body>

</html>

<!-- ,
"dtlFormItems": {
  "form": [{
    "type": "input",
    "value": "",
    "label": "编号",
    "name": "code",
    "style": "margin-right: 5px;",
    "readonly": true,
    "disabled": false
  }],
  "additionButtons":{
    "style": "margin-left:15px",
    "buttons": [{
      "text": "确 定",
      "size": "mini",
      "type": "success",
      "disabled": false,
      "key": "confirm-btn"
    }]
  }
} -->

<!-- , {
  "type": "select",
  "value": "",
  "label": "仓位",
  "name": "storeDltId",
  "style": "margin-right: 5px;",
  "disabled": false,
  "loading": false,
  "options": []
} -->


<!-- {
  "prop": "storeDltId",
  "label": "仓位"
}, -->