<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- title为变量 是模块的名字 -->
  <title>到货管理主表</title>
  <script>
    window.coolLocals = {}
    window.extraJsons = ['dtlTable.json']
  </script>
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
  <script type="post-load" src="../libs/xlsx-populate-no-encryption.min.js"></script>
  <script src="/settings.js"></script>
</head>

<body>
  <div id="root" v-cloak>
    <!--cool-master-view  cool-master-dialog  组件为固定组件 需模板生成-->
    <cool-master-view ref='masterView' :unique-deploy-key="uniqueDeployKey" :axios-setting="axiosSetting" :dialogs="dialogs" :show-mode-list="showModeList" :is-methods="isMethods" @table-row-click="tableRowClick" @table-row-dblclick="tableRowDblclick"
      @table-select-change="tableSelectionChange" @pagination-size-change="paginationSizeChange" @pagination-current-change="paginationCurrentChange" @get-condition="getCondition" @new-btn="newData" @edit-btn="editData" @confirm-btn="confirmData"
      @refuse-btn="refuseData" @detail-btn="checkData" @output="output" @save-event="dialogSaveEvent" @back-event="dialogBackEvent"></cool-master-view>
    <cool-master-dialog :unique-key="uniqueKey" :visible.sync="dialogVisible" :is-methods="isDialogMethods" @update-form="updateForm" @save-event="saveEvent"></cool-master-dialog>

  </div>
</body>

</html>