<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- title为变量 是模块的名字 -->
  <title>领料单</title>
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
  <script>
    window.coolLocals={}
    window.extraJsons = ['dtlTable.json']
    </script>
  <script type="post-load" src="../libs/xlsx-populate-no-encryption.min.js"></script>
  <script src="/settings.js"></script>
</head>

<body>
  <div id="root" v-cloak>
    <!--cool-master-view  cool-master-dialog  组件为固定组件 需模板生成-->
    <cool-master-view ref="masterView" :unique-deploy-key="uniqueDeployKey" :axios-setting="axiosSetting" :dialogs="dialogs" :show-mode-list="showModeList" :is-methods="isMethods" @table-row-click="tableRowClick" @table-row-dblclick="tableRowDblclick"
      @table-selection-change="tableSelectionChange" @pagination-size-change="paginationSizeChange" @pagination-current-change="paginationCurrentChange" @get-condition="getCondition" @new-custom="newCustom" @looking="looking" @output="output"
      @save-event="dialogSaveEvent" @back-event="dialogBackEvent"></cool-master-view>
    <!--  <cool-master-dialog :unique-key="uniqueKey" :visible.sync="dialogVisible" :is-methods="isDialogMethods" @update-form="updateForm" @save-event="saveEvent"></cool-master-dialog> -->
    <cool-just-dialog :visible.sync="dialogVisible" :title="dialogTitle" :show-save-button="showSaveButton" :width="justDialogWidth" @save-event="saveEvent" @back-event="backEvent" @closedialog="backEvent" top="3vh">
      <template slot="dialogSlot">
        <div style="overflow: hidden;border:1px solid #DCDFE6;">
          <div style="margin-bottom:15px">
            <span style="font-size:16px;vertical-align: middle;font-weight:bold;margin-left: 15px">领料单基本信息</span>
            <cool-form-view ref="coolForm" :form-items="applyFormItems" size="mini" :inline="true" :label-width="labelWidth" @update-form="masterUpdateForm" @input-button-event="chooseFormno"></cool-form-view>
          </div>
          <el-tabs type="border-card">
            <el-tab-pane label="明细列表">
              <cool-button-group :buttons="buttons" @button-click="buttonClick"></cool-button-group>
              <cool-table-view ref="tableView" :columns="columns" :data="inTableData" :height="tableHeight" @table-row-click="outRowClick" @table-selection-change="outSelection" :stripe="stripe" @table-row-dblclick="rowDblclick"></cool-table-view>
            </el-tab-pane>
          </el-tabs>
        </div>
      </template>
    </cool-just-dialog>
    <cool-quick-edit ref="quickEdit" :visible.sync="quickDialogVisible" :form-items="quickCoolFormItems" :width="dialogWidth" :label-width="labelWidth" :all-data="inTableData" :current-edit-data="currentEditData"></cool-quick-edit>
  </div>
</body>

</html>